.places {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 100%;
}

@media (max-width: 1270px) {
  .places {
    justify-content: flex-start;
  }
}
