.eternal-modal-wrapper {

  .ant-modal {
    width: 100%!important;
    max-width: 740px;
    padding: 20px;
  }

  .ant-modal-content {
    border-radius: $border-radius;
  }

  .ant-modal-body {
    font-family: 'OpenSans', sans-serif;
    font-size: 14px;
    color: $default;
    padding: 25px 27px;
  }

  .eternal-modal-close {
    background-color: transparent;
    outline: none;
    color: #000;
    position: absolute;
    right: 8px;
    top: 4px;
    font-size: 18px;
    line-height: 18px;
    padding: 5px;
    margin: 0;
    cursor: pointer;

    &:hover {
      opacity: .8;
    }
  }
}

.eternal-modal-title {
  font-family: 'Museo-700', sans-serif;
  font-size: 18px;
  color: $default;
  margin-bottom: 12px;
}

@media (max-width: 767px) {

  .eternal-modal-wrapper .ant-modal {
    margin: 0;
    max-width: unset!important;
  }
}
