.ant-tabs {
  font-family: 'OpenSans', sans-serif;
  font-size: 14px;
  color: $default;
}

.ant-tabs-bar {
  border-bottom: 1px solid $border-primary;
  margin: 0 0 25px 0;
}

.ant-tabs-ink-bar {
  height: 1px;
  background-color: $tabs-active;
}

.ant-tabs-nav {

  .ant-tabs-tab {
    font-family: 'MuseoSans-500', sans-serif;
    color: $text-darken-grey;
    padding: 0 2px 15px 0;

    &:hover,
    &:focus,
    &:active {
      color: $text-darken-grey;
    }
  }

  .ant-tabs-tab-active {
    color: $tabs-active;

    &:focus,
    &:active,
    &:hover {
      color: $tabs-active;
    }
  }
}
