.ant-tabs {
  font-family: 'OpenSans', sans-serif;
  font-size: 14px;
  color: $default;
}

.ant-tabs-bar {
  border-bottom: 1px solid $border-primary;
  margin: 0 0 25px 0;
}

.ant-tabs-ink-bar {
  height: 1px;
  background-color: $primary;
}

.ant-tabs-nav {

  .ant-tabs-tab {
    font-family: 'MuseoSans-500', sans-serif;
    color: $text-darken-grey;
    padding: 0 2px 15px 0;

    &:hover,
    &:focus,
    &:active {
      color: $text-darken-grey;
    }
  }

  .ant-tabs-tab-active {
    color: $primary;

    &:focus,
    &:active,
    &:hover {
      color: $primary;
    }
  }
}

.ant-tabs-tab-prev.ant-tabs-tab-arrow-show,
.ant-tabs-tab-next.ant-tabs-tab-arrow-show {
  display: none;
}

.ant-tabs-nav-container-scrolling {
  padding: 0;
}
