@font-face {
  font-family: 'Museo-300';
  src: url('../../../ETP/eternal-portal-front/app/fonts/Museo-300-Regular.woff2') format('woff2'),
  url('../../../ETP/eternal-portal-front/app/fonts/Museo-300-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: auto;
}

@font-face {
  font-family: 'Museo-500';
  src: url('../../../ETP/eternal-portal-front/app/fonts/Museo-500-Regular.woff2') format('woff2'),
  url('../../../ETP/eternal-portal-front/app/fonts/Museo-500-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: auto;
}

@font-face {
  font-family: 'Museo-700';
  src: url('../../../ETP/eternal-portal-front/app/fonts/Museo-700-Regular.woff2') format('woff2'),
  url('../../../ETP/eternal-portal-front/app/fonts/Museo-700-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: auto;
}

@font-face {
  font-family: 'OpenSans';
  src: url('../../../ETP/eternal-portal-front/app/fonts/OpenSans-Regular.woff2') format('woff2'),
  url('../../../ETP/eternal-portal-front/app/fonts/OpenSans-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: auto;
}

@font-face {
  font-family: 'OpenSans-Italic';
  src: url('../../../ETP/eternal-portal-front/app/fonts/OpenSans-Italic.woff2') format('woff2'),
  url('../../../ETP/eternal-portal-front/app/fonts/OpenSans-Italic.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: auto;
}

@font-face {
  font-family: 'MuseoSans-500';
  src: url('../../../ETP/eternal-portal-front/app/fonts/MuseoSans-500-Regular.woff2') format('woff2'),
  url('../../../ETP/eternal-portal-front/app/fonts/MuseoSans-500-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: auto;
}

@font-face {
  font-family: 'MuseoSans-500-Italic';
  src: url('../../../ETP/eternal-portal-front/app/fonts/MuseoSans-500-Italic.woff2') format('woff2'),
  url('../../../ETP/eternal-portal-front/app/fonts/MuseoSans-500-Italic.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: auto;
}

@font-face {
  font-family: 'OpenSans-Light';
  src: url('../../../ETP/eternal-portal-front/app/fonts/OpenSans-Light.woff2') format('woff2'),
  url('../../../ETP/eternal-portal-front/app/fonts/OpenSans-Light.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: auto;
}

@font-face {
  font-family: 'OpenSans-Light-Italic';
  src: url('../../../ETP/eternal-portal-front/app/fonts/OpenSans-Light-Italic.woff2') format('woff2'),
  url('../../../ETP/eternal-portal-front/app/fonts/OpenSans-Light-Italic.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: auto;
}
