/*** Sizes ***/
$spacing-extra-xxl:   60px;
$spacing-extra-xl:    55px;
$spacing-extra-lg:    50px;
$spacing-extra-md:    45px;
$spacing-extra-sm:    40px;
$spacing-extra-xs:    35px;
$spacing-xxl:         30px;
$spacing-xl:          25px;
$spacing-lg:          20px;
$spacing-md:          15px;
$spacing-sm:          10px;
$spacing-xs:          5px;

/*** Borders ***/
$border-radius:       4px;
$border-primary:      #d4d4d4;

/*** Colors ***/
$default:             #000;
$primary:             #bd727d;
$success:             #5cb85c;
$info:                #5bc0de;
$warning:             #f0ad4e;
$danger:              #d2251d;
$link:                #3572b0;
$light:               #edf6f7;

/*** Buttons ***/
$btn-primary:         #bd727d;
$btn-primary-border:  #9e4450;
$btn-upload-border:   #e3dede;
$btn-facebook:        #5e79b1;
$btn-facebook-border: #405b94;
$btn-google:          #d06254;
$btn-google-border:   #a83c2f;
$btn-twitter:         #00aaf4;
$btn-twitter-border:  #298eba;
$btn-secondary:       #4b929c;
$btn-secondary-border:#357179;

/*** Links ***/
$link-primary:        #4b929c;
$link-secondary:      #6b6b6b;

/*** Text Colors ***/
$text-primary:        #000;
$text-secondary:      #6b6b6b;
$text-darken-grey:    #3c3c3c;
$text-lighten-grey:   #868686;

/*** Tabs ***/
$tab-active-bg:       #edf6f7;
$tabs-active:         #2587a4;

/*** Memorials ***/
$featured:            #d3b76c;
$memorial-header:     #e1e1e1;

/*** Labels ***/
$label-primary:       #4b929c;
$label-secondary:     #d3b76c;

/*** Extensions ***/
$extension-blue:      #87a5ca;
$extension-red:       #bd727d;
$extension-green:     #7fa9ab;

/*** Preloader ***/
$preloader-primary:   #4b929c;

/*** Forms ***/
$input-hover:         #4b929c;
$input-placeholder:   #6b6b6b;
$input-text:          #010101;
$input-bg:            #fdfdfd;
$input-border:        #bdbdbd;
$form-error:          #d2251d;

/*** Memorial Registration ***/
$memorial-title:      #1d1d1d;

/*** Packages ***/
$package-primary:     #4b929c;
$complete-row-color:  #f5fcfd;
$package-premium:     #d3b76c;
$table-row-color:     #fafafa;
$check-color:         #51c125;
$times-color:         #cfcfcf;
$payment-text:        #6b6b6b;

/*** Search ***/
$search-primary:      #4b929c;

/*** Memorial ***/
$memorial-primary:    #318ea9;
$left-menu-background:#daecf3;
$left-menu-text:      #6b6b6b;

/*** Slider ***/
$slider-btn:          #2587a4;
$slide-active:        #e9f3f7;
