.react-calendar {
  height: 350px;
  width: 450px;
  border: 1px solid #e9e9e9;

  .react-calendar__navigation__label {
    text-transform: capitalize;
    padding-top: 0;
  }
  .react-calendar__month-view {
    height: 85%;

    > div {
      height: 100%;

      > div {
        height: 100%;

        .react-calendar__month-view__days {
          height: 89.4%;
        }
      }
    }
  }

  .react-calendar__tile--active,
  .react-calendar__tile--active:enabled:hover,
  .react-calendar__tile--active:enabled:focus{
    background: $primary;
  }

  .react-calendar__tile:disabled {
    background: transparent;
    color: $text-lighten-grey;
    opacity: 0.6;
  }
}
