.information-container {
  width: 50%;

  .ant-tabs-tab-active {
    color: $primary;
    border-bottom: 1px solid $primary;

    &:hover {
      color: $primary;
      border-bottom: 1px solid $primary;
    }

  }

  .ant-tabs-ink-bar, .ant-tabs-ink-bar-animated {
    background-color: $primary;
  }
}
