.information-container {
  width: 50%;

  .ant-menu-item {

    &:hover,
    &:focus,
    &:active {
      color: $primary;
      border-bottom: 2px solid $primary;
    }
  }

  .ant-menu-item-selected {
    color: $primary;
    border-bottom: 2px solid $primary;
  }
}
