.admin-reservations-table {

  .nav-button {
    display: flex;
    align-items: center;
    height: 36px;
    margin-bottom: 15px;

    a {
      margin-left: 5px;
      color: $text-darken-grey;
      font-family: 'Museo-700', sans-serif;
    }
  }

  .actions {
    svg {
      font-size: 18px;
      margin: 0 3px;
    }

    .approve {
      svg {
        color: $success;
      }
    }

    .reject {
      svg {
        color: $danger;
      }
    }
  }

  .ant-table-pagination {
    width: 100%;
    display: flex;
    justify-content: center;

    .ant-pagination-item-link {
      display: flex;
      justify-content: center;
      align-items: center;
    }

    .ant-pagination-item-active {
      border-color: $primary;
      display: flex;
      align-items: center;
      justify-content: center;

      a {
        color: $primary;
      }
    }
  }

}
