.color-picker-container {
  position: relative;

  .color-picker-btn {
    position: absolute;
    top: 50%;
    right: 6px;
    transform: translateY(-50%);
  }
}

.color-picker-btn {
  background-color: transparent;
  outline: none;
  padding: 5px;
  border-radius: 1px;
  box-shadow: 0 0 0 1px rgba(0,0,0,.1);
  display: inline-block;
  cursor: pointer;
}

.preview-color-picker {
  width: 36px;
  height: 14px;
  border-radius: 2px;
}

.color-picker-popover {
  position: absolute;
  z-index: 999999;
}

.color-picker-cover {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}
