.main-container-inner.coming-soon-container {

  .page-title {
    text-align: center;
    margin: 0;
    padding: 220px 0 200px 0;
    line-height: 1;
  }
}

@media (max-width: 740px) {

  .main-container-inner.coming-soon-container {

    .page-title {
      padding: 100px 0 80px 0;
    }
  }
}
