.sidebar {
  min-width: 250px;
  border-right: 1px solid #c3c3c3;
  padding-right: 10px;

  .filter-container {
    padding: 15px 0;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;

    .filter-title {
      font-family: 'MuseoSans-500', sans-serif;
      font-size: 16px;
      margin-right: 10px;
      border-bottom: 1px solid #c3c3c3;
    }

    .filter-items {
      display: flex;
      flex-direction: column;
      justify-content: flex-start;

      span {
        text-decoration: none;
        color: $text-darken-grey;

        &:hover {
          color: $primary;
          transition: all 0.1s ease-in;
        }

        &.active {
          color: $primary;
        }
      }
    }
  }
}

.sidebar-filter-container {
  padding-top: 15px;

  .ant-input-search {
    height: 36px;
  }
}

.results-btn {
  display: none;
}

@media (max-width: 994px) {
  .sidebar-filter-container {
    width: 100%;
  }

  .sidebar {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    border: 0;

    .filter-container {
      width: 50%;
    }

    .search-bar-container {
      display: none;
    }

  }

  .results-btn {
    display: flex;
    justify-content: center;
    padding-top: 15px;
  }
}
