@media (max-width: 740px) {

  .ant-btn {
    font-size: 16px;
    padding: 0 15px;
    height: 36px;
    line-height: 36px;
  }

  .btn-upload {
    height: 31px;
    line-height: 31px;
    font-size: 12px;
    min-width: 130px;
    text-align: center;
  }
}
