@media (max-width: 740px) {

  .forgotten-password-form {
    max-width: 100%;
    padding-bottom: 40px;

    .ant-form-item .ant-form-item-label {
      text-align: left;
      padding-top: 0;
      margin-bottom: 0;

      label:after {
        display: none;
      }
    }
  }
}
