@media (max-width: 740px) {

  .section-title {
    font-size: 20px;
    padding-bottom: 14px;
  }

  .card-title {
    font-size: 16px;
  }

  .sub-section-title {
    font-size: 16px;
  }

  .section-sub-title {
    font-size: 14px;
  }

  .article-title {
    font-size: 16px;
  }
}
