.f-w-3 {
  font-weight: 300;
}

.f-w-4 {
  font-weight: 400;
}

.f-w-5 {
  font-weight: 500;
}

.f-w-6 {
  font-weight: 600;
}

.f-w-7 {
  font-weight: 700;
}

.f-w-8 {
  font-weight: 800;
}

.f-w-9 {
  font-weight: 900;
}
