.m-xxl {
  margin: $spacing-xxl;
}

.m-t-xxl {
  margin-top: $spacing-xxl;
}

.m-r-xxl {
  margin-right: $spacing-xxl;
}

.m-b-xxl {
  margin-bottom: $spacing-xxl;
}

.m-l-xxl {
  margin-left: $spacing-xxl;
}

.m-xl {
  margin: $spacing-xl;
}

.m-l-xl {
  margin-left: $spacing-xl;
}

.m-t-xl {
  margin-top: $spacing-xl;
}

.m-r-xl {
  margin-right: $spacing-xl;
}

.m-b-xl {
  margin-bottom: $spacing-xl;
}

.m-lg {
  margin: $spacing-lg;
}

.m-l-lg {
  margin-left: $spacing-lg;
}

.m-t-lg {
  margin-top: $spacing-lg;
}

.m-r-lg {
  margin-right: $spacing-lg;
}

.m-b-lg {
  margin-bottom: $spacing-lg;
}

.m-md {
  margin: $spacing-md;
}

.m-l-md {
  margin-left: $spacing-md;
}

.m-t-md {
  margin-top: $spacing-md;
}

.m-r-md {
  margin-right: $spacing-md;
}

.m-b-md {
  margin-bottom: $spacing-md;
}

.m-sm {
  margin: $spacing-sm;
}

.m-l-sm {
  margin-left: $spacing-sm;
}

.m-t-sm {
  margin-top: $spacing-sm;
}

.m-r-sm {
  margin-right: $spacing-sm;
}

.m-b-sm {
  margin-bottom: $spacing-sm;
}

.m-xs {
  margin: $spacing-xs;
}

.m-l-xs {
  margin-left: $spacing-xs;
}

.m-t-xs {
  margin-top: $spacing-xs;
}

.m-r-xs {
  margin-right: $spacing-xs;
}

.m-b-xs {
  margin-bottom: $spacing-xs;
}

.m-extra-xxl {
  margin: $spacing-extra-xxl;
}

.m-t-extra-xxl {
  margin-top: $spacing-extra-xxl;
}

.m-r-extra-xxl {
  margin-right: $spacing-extra-xxl;
}

.m-b-extra-xxl {
  margin-bottom: $spacing-extra-xxl;
}

.m-l-extra-xxl {
  margin-left: $spacing-extra-xxl;
}

.m-extra-xl {
  margin: $spacing-extra-xl;
}

.m-l-extra-xl {
  margin-left: $spacing-extra-xl;
}

.m-t-extra-xl {
  margin-top: $spacing-extra-xl;
}

.m-r-extra-xl {
  margin-right: $spacing-extra-xl;
}

.m-b-extra-xl {
  margin-bottom: $spacing-extra-xl;
}

.m-extra-lg {
  margin: $spacing-extra-lg;
}

.m-l-extra-lg {
  margin-left: $spacing-extra-lg;
}

.m-t-extra-lg {
  margin-top: $spacing-extra-lg;
}

.m-r-extra-lg {
  margin-right: $spacing-extra-lg;
}

.m-b-extra-lg {
  margin-bottom: $spacing-extra-lg;
}

.m-extra-md {
  margin: $spacing-extra-md;
}

.m-l-extra-md {
  margin-left: $spacing-extra-md;
}

.m-t-extra-md {
  margin-top: $spacing-extra-md;
}

.m-r-extra-md {
  margin-right: $spacing-extra-md;
}

.m-b-extra-md {
  margin-bottom: $spacing-extra-md;
}

.m-extra-sm {
  margin: $spacing-extra-sm;
}

.m-l-extra-sm {
  margin-left: $spacing-extra-sm;
}

.m-t-extra-sm {
  margin-top: $spacing-extra-sm;
}

.m-r-extra-sm {
  margin-right: $spacing-extra-sm;
}

.m-b-extra-sm {
  margin-bottom: $spacing-extra-sm;
}

.m-extra-xs {
  margin: $spacing-extra-xs;
}

.m-l-extra-xs {
  margin-left: $spacing-extra-xs;
}

.m-t-extra-xs {
  margin-top: $spacing-extra-xs;
}

.m-r-extra-xs {
  margin-right: $spacing-extra-xs;
}

.m-b-extra-xs {
  margin-bottom: $spacing-extra-xs;
}

.m-l-a {
  margin-left: auto;
}

.m-r-a {
  margin-right: auto;
}

.m-t-a {
  margin-top: auto;
}

.m-b-a {
  margin-bottom: auto;
}

.m-a {
  margin: auto;
}

.m-0 {
  margin: 0;
}

.m-l-0 {
  margin-left: 0;
}

.m-r-0 {
  margin-right: 0;
}

.m-b-0 {
  margin-bottom: 0;
}

.m-t-0 {
  margin-top: 0;
}
