.p-xxl {
  padding: $spacing-xxl;
}

.p-t-xxl {
  padding-top: $spacing-xxl;
}

.p-r-xxl {
  padding-right: $spacing-xxl;
}

.p-b-xxl {
  padding-bottom: $spacing-xxl;
}

.p-l-xxl {
  padding-left: $spacing-xxl;
}

.p-xl {
  padding: $spacing-xl;
}

.p-l-xl {
  padding-left: $spacing-xl;
}

.p-t-xl {
  padding-top: $spacing-xl;
}

.p-r-xl {
  padding-right: $spacing-xl;
}

.p-b-xl {
  padding-bottom: $spacing-xl;
}

.p-lg {
  padding: $spacing-lg;
}

.p-l-lg {
  padding-left: $spacing-lg;
}

.p-t-lg {
  padding-top: $spacing-lg;
}

.p-r-lg {
  padding-right: $spacing-lg;
}

.p-b-lg {
  padding-bottom: $spacing-lg;
}

.p-md {
  padding: $spacing-md;
}

.p-l-md {
  padding-left: $spacing-md;
}

.p-t-md {
  padding-top: $spacing-md;
}

.p-r-md {
  padding-right: $spacing-md;
}

.p-b-md {
  padding-bottom: $spacing-md;
}

.p-sm {
  padding: $spacing-sm;
}

.p-l-sm {
  padding-left: $spacing-sm;
}

.p-t-sm {
  padding-top: $spacing-sm;
}

.p-r-sm {
  padding-right: $spacing-sm;
}

.p-b-sm {
  padding-bottom: $spacing-sm;
}

.p-xs {
  padding: $spacing-xs;
}

.p-l-xs {
  padding-left: $spacing-xs;
}

.p-t-xs {
  padding-top: $spacing-xs;
}

.p-r-xs {
  padding-right: $spacing-xs;
}

.p-b-xs {
  padding-bottom: $spacing-xs;
}

.p-extra-xxl {
  padding: $spacing-extra-xxl;
}

.p-t-extra-xxl {
  padding-top: $spacing-extra-xxl;
}

.p-r-extra-xxl {
  padding-right: $spacing-extra-xxl;
}

.p-b-extra-xxl {
  padding-bottom: $spacing-extra-xxl;
}

.p-l-extra-xxl {
  padding-left: $spacing-extra-xxl;
}

.p-extra-xl {
  padding: $spacing-extra-xl;
}

.p-l-extra-xl {
  padding-left: $spacing-extra-xl;
}

.p-t-extra-xl {
  padding-top: $spacing-extra-xl;
}

.p-r-extra-xl {
  padding-right: $spacing-extra-xl;
}

.p-b-extra-xl {
  padding-bottom: $spacing-extra-xl;
}

.p-extra-lg {
  padding: $spacing-extra-lg;
}

.p-l-extra-lg {
  padding-left: $spacing-extra-lg;
}

.p-t-extra-lg {
  padding-top: $spacing-extra-lg;
}

.p-r-extra-lg {
  padding-right: $spacing-extra-lg;
}

.p-b-extra-lg {
  padding-bottom: $spacing-extra-lg;
}

.p-extra-md {
  padding: $spacing-extra-md;
}

.p-l-extra-md {
  padding-left: $spacing-extra-md;
}

.p-t-extra-md {
  padding-top: $spacing-extra-md;
}

.p-r-extra-md {
  padding-right: $spacing-extra-md;
}

.p-b-extra-md {
  padding-bottom: $spacing-extra-md;
}

.p-extra-sm {
  padding: $spacing-extra-sm;
}

.p-l-extra-sm {
  padding-left: $spacing-extra-sm;
}

.p-t-extra-sm {
  padding-top: $spacing-extra-sm;
}

.p-r-extra-sm {
  padding-right: $spacing-extra-sm;
}

.p-b-extra-sm {
  padding-bottom: $spacing-extra-sm;
}

.p-extra-xs {
  padding: $spacing-extra-xs;
}

.p-l-extra-xs {
  padding-left: $spacing-extra-xs;
}

.p-t-extra-xs {
  padding-top: $spacing-extra-xs;
}

.p-r-extra-xs {
  padding-right: $spacing-extra-xs;
}

.p-b-extra-xs {
  padding-bottom: $spacing-extra-xs;
}

.p-0 {
  padding: 0;
}

.p-l-0 {
  padding-left: 0;
}

.p-r-0 {
  padding-right: 0;
}

.p-b-0 {
  padding-bottom: 0;
}

.p-t-0 {
  padding-top: 0;
}
